---
title: nanoc3 blog starter kit
---

<div id="sticky">
  <% item = item_by_identifier('/sticky/') %>
  <% if item[:title] %>
    <div class="title"><%= item[:title] %></div>
  <% end %>
  <div class="body">
    <%= partial(item) %>
  </div>
</div>

<% oldest_item = nil %>
<% current_index = 0 %>

<% sorted_articles[current_index, featured_count].each do |item| %>
  <% oldest_item = item %>
  <% current_index += 1 %>
  <div class="featured">
    <%= render('_article', :item => item, :is_embedded => true) %>
  </div>
<% end %>

<% sorted_articles[current_index, excerpt_count].each do |item| %>
  <% oldest_item = item %>
  <%= render('_article', :item => item, :is_embedded => true) %>
<% end %>

<%= render('_other_articles_nav', :reference_item => oldest_item, :older_only => true) %>

<div class="clear"></div>

<%# for SEO, but make it disappear %>
<div id="taglist" class="hide">
  <% tags = count_tags() %>
  <% tags.each.sort_by {|k,v| k}.each do |tag_count| %>
    <% tag = tag_count[0] %>
    <a href="/tags/<%= tag %>/" class='tag'><%= tag %></a>
  <% end %>
</div>
